<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
                        This project was done in the frame of the Applied Data Analysis Course of 2018 at EPFL
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>SEPTEMBER - NOVEMBER 2018</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Basics and fundamentals of Data Analysis were studies in class during the course.
                                        Four different graded homeworks were supposed to guide the students through the
                                        course material
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>NOVEMBER 2018</h4>
                                    <h4 class="subheading">Milestone 1</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        The project repo contained a README describing your project idea (title, abstract,
                                        questions, dataset, milestones, according to a provided skeleton).
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>LATE NOVEMBER 2018 </h4>
                                    <h4 class="subheading">Milestone 2</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        the project repo contains a notebook with data collection and descriptive analysis,
                                        properly commented, and the notebook ends with a more structured and informed plan
                                        for what comes next (all the way to a plan for the presentation). These sections
                                        of the notebook should be filled in by milestone 3.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>DECEMBER 2018</h4>
                                    <h4 class="subheading">Final Report</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Data story in a platform of your choice (e.g., a blog post, or directly in GitHub),
                                        plus the final notebook
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>