<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Conclusions</h2>
                <h3 class="section-subheading text-muted">
                    1. Consider what ethical means
                    There are many different criteria of “ethical” under which to categorise a fund and businesses that involve nuclear energy, animal testing or tobacco are some of the commonly screened-out industries when people are thinking of ethical investment. But before you can sensibly choose an investment fund that may match your profile, you need to ask yourself if you are against an alleged cause for a higher purpose or just for the sake of going against it.
                    Socially Conscious Investing
                    Many investors who seek to avoid what they consider to be unethical investments look to vehicles such as socially
                    conscious mutual funds that screen companies according to specific ethically-based criteria. Many such funds are offered
                    by religious denominations such as the Lutheran Brotherhood, which typically avoids investing in any of the "sin" industries listed above and can provide investors with a clear conscience in this area.
                    <br>
                    2. Carry out research
                    Some fund managers have strong teams looking into socially responsible investment, some aim to filter out redundant funds, while others actively invest in companies working in areas such as pollution control, clean fuel and healthcare services. Carry out research and do a background search before deciding to invest in any of the green sectors that might be of interest to you. Ethical investors favor companies that replace what they
                    take from the earth and adhere to governmental standards for emissions.
                    <br>
                    3. Consider an ethical IFA
                    If you are not comfortable choosing investment funds, consider taking some advice from ethical IFAs or look for an IFA who specialises in ethical investment.
                    <br>
                    4. Determine your attitude to risk.Review and reflect on your attitude to risk.
                    If you are a low-risk investor, you might want to avoid stocks and shares  altogether, while aggressive investors would consider investing in high-risk companies such as renewable energy start-ups.To reduce risk, diversify your funds or sectors and spread your investments around different funds, sectors or even geographical areas.
                    <br>
                    5. Choose a fund manager carefully
                    Investors should look into a manager’s ethical criteria and see if these are rigorous, or if the fund has a specialist team or if it has a position on new investment opportunities such as biofuels, organic food, climate change, waste, and water, and so on.
                </h3>
                <img src="img/portfolio/the_end.png">
            </div>
        </div>
    </div>
</section>