<!-- Services Section -->
<section id="data_story">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Data Story</h2>
                <h3 class="section-subheading text-muted">
                    In order to give some deeper insights to the information that we generated but also to make our workflow
                    easier to understand for the reader, we decided to split our data story in smaller data stories
                    called <i>substories</i> which are linked. The substories were set up in such a way that they all
                    answer one of our research questions. In fact, the whole substory in built around this question.
                  
                  <br/>
                    The first part of the substory is used to introduce and state the problem that we want to answer and
                    why it is interesting to studies this topic. These introduction should serve as teaser for the reader.
                    The used dataset is also explicitly mentioned in each document. This should make it possible for the
                    reader to eventually reproduce our experiments or at least to understand which dataset and which part of
                    it was used to get the information that we want to show. 
                  <br/>
                  
                  Finally, the major part of the substory is
                    obviously dedicated to the graphs that we produced to answer the research question. Each graph comes
                    with a description of the phenomena but also with an interpretation of the results in order to conclude
                    something from the data regarding the research question.
                </h3>
                <h4 class="introduction-heading">
                    
                    <p style="text-align:justify">
                        Ultimately, our data story documents our journey into understanding the social good impact performance of large asset manager investors, 
                      and how the prevailing public opinion supporting socially responsible investing may have influenced asset managers to be more socially impactful. 
                      In order to explore these topics, we composed five questions, each of which are documented below as a data substory. 
                      <br>
                      <br>
                      We first seek to understand the nature of our asset management investor social impact dataset. 
                        In this First part, the first research question of the project was described to in the
                        <a href="#portfolioModal4" class="research-link" data-toggle="modal">Who owns Who?</a> substory.
                        The aim of this story was to give to the reader a better insight of the data. Furthermore, the
                        way the data have been cleaned was presented. From the data it saw possible to observe that, for example,
                        the lowest scoring investor had a very specialized investment strategy (event-driven investing).
                        On the other end of the spectrum, the highest scoring investor, Aetna Inc, is a healthcare company,
                        and is thus intrinsically driven to invest based on values aligned with social impact outcomes.
                        <br>
                        <br>
                        After this first part dedicated to data exploration, we attempt to understand the nature 
                      of high and low social impact investments in an asset manager's portfolio. For example, why do these investors choose 
                      to invest in certain stocks that bring a positive impact, or are detrimental to society? And what is the logic behind these motivations?
                      This the second substory is also prefaced by a definition of
                        the terms ethics and assets since these terms will follow us all along of our journey through the
                        data. Through <a href="#portfolioModal2" class="research-link" data-toggle="modal">The Asset Manager's Portfolio</a> substory,
                        we show the popularity of the high and low impact stocks and we ended up showing that an investor
                        could easily end up selecting a portfolio with more high social impact investments simply based
                        on looking for stocks with high historical financial growth - technology companies such as Amazon and Apple.
                      <br>  
                      <br>
                      Although The Asset Manafer's Portfolio data substory allowed us to observe a pattern of asset management 
                      investors making greater numbers of high social impact investments than low social impact investments, this conclusion was specific to 2017. In order to determine if investments
                        in social good are a recent trend or if there is a tradition to invest in ethically favorable assets
                        we chose to compare the data of the previous year. By doing so in the <a href="#portfolioModal7" class="research-link" data-toggle="modal">Towards Social Good </a> substory,
                        it was possible to see that investors do not seem to be, as a general trend, shifting towards higher social impact investments.
                      
                      <br>
                      <br>
                      
                      But what does the great public think about these investors. Does the great public care about
                    the ethics of the companies from which they are buying product? In order to answer this sentiment analysis
                    on the Tweet of 2017 was used. The data we found is show in <a href="#portfolioModal3" class="research-link" data-toggle="modal">Sentiment Analysis</a>.
                    It was very interesting to see how tht great public thinks about the assets. However, no clear correlation
                    between social opinion and social score was to be determined.
                    Finally, the geographical location of the most ethical companies was also studied in the <a href="#portfolioModal6" class="research-link" data-toggle="modal">Investment Geography of the USA.</a>
                    It was possible to see that there was not clear geographical trend regarding social score and
                    geographical location of the companies.
                    As an teaser for further work and what could be added to our project we created the
                    <a href="#portfolioModal5" class="research-link" data-toggle="modal">Other Countries</a> substory.
                    The aims would be to make the same kind of research for other countries. Therefore, we invite all curious
                    readers to extend our project by forking our project on github.
                    </p>
                </h4>
            </div>
        </div>
</section>
