<!-- Services Section -->
<section id="introduction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Introduction</h2>
                <h3 class="section-subheading text-muted">
                    "Society is demanding that companies, both public and private, serve a social purpose.
                    To prosper over time, every company must not only deliver financial performance but also show
                    how it makes a positive contribution to society."
                    <br>
                    ---
                    <br>
                        Laurence D. Fink, CEO BlackRock
                </h3>

                <h4 class="introduction-heading">
                    <p style="text-align:justify">
                        Asset managers are increasingly challenged by their investors to manage their portfolios for social
                        impact. However, it is non-trivial for investors and investment managers to maintain regular
                        oversight over the social impact composition of their portfolios. The U.S. Securities and
                        Exchange Commission’s (SEC’s) EDGAR maintains a digital record of the portfolio filings of
                        publicly traded asset managers.
                        <br>
                        <br>
                        One way to track at which extent the investors, and to a greater extent, the great public is interested in social good
                        projects is by analysing the data from social media platforms such as Twitter. With this information,
                        one could also link the social opinion about a given company and how much the enterprise invests in
                        social good.
                        <br>
                        <br>
                        In this research project, the term social good was defined according to the Sustainable Development Goals (SDG).
                        These SDG where defined are a collection of 17 global goals set by the United Nations General Assembly in 2015.
                        They aim to "transform our World: the 2030 Agenda for Sustainable Development." That has been shortened to "2030 Agenda."
                        The goals are broad and interdependent, yet each has a separate list of targets to achieve.
                        Achieving all 169 targets would signal accomplishing all 17 goals. The SDGs cover social and
                        economic development issues including poverty, hunger, health, education, global warming,
                        gender equality, water, sanitation, energy, urbanization, environment and social justice.
                        In the frame of this project, investments in social good were defined as being an investment in
                        any of the 17 different goals stated by the United Nations.
                        <br>

                        From these SDG's, we decided to put the focus on three following major targets:
                        <br>
                        <br>
                    </p>
                </h4>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="introduction-heading">Goal 8</h4>
                <p class="text-muted" style="text-align:justify">
                    Decent work and economic growth: By 2030, the target is to establish policies for sustainable
                    tourism that will create jobs. Strengthening domestic financial institutions and increasing Aid
                    for Trade support for developing countries is considered essential. Trade-Related Technical Assistance
                    to Least Developed Countries is mentioned as a method for achieving sustainable economic development.
                </p>
            </div>


            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-industry fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="introduction-heading">Goal 9</h4>
                <p class="text-muted">
                    Industry, Innovation, and Infrastructure: Build resilient infrastructure, promote inclusive and
                    sustainable industrialization, and foster innovation"
                </p>
            </div>


            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="introduction-heading">Goal 12</h4>
                <p class="text-muted">
                    Responsible consumption and production: The targets of Goal 12 include using eco-friendly
                    production methods and reducing the amount of waste. By 2030, national recycling rates should
                    increase, as measured in tons of material recycled. Further, companies should adopt sustainable
                    practices and publish sustainability reports.
                </p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="introduction-heading">
                        <p style="text-align:justify">
                            <br>
                            <br>
                            In addition to these qualitative criteria, it was possible to the data from JUST Capital -
                            America's ranking for the most just companies. JUST Capital measures and ranks companies on
                            the issues Americans care about most so the Americans can then act on that knowledge.
                            The aim is to influence purchase decisions, investment dollars, career choices of the people
                            that are living and working in the US. Thus people should have the power to make the world a more just place.
                            <br>
                            JUST Capital was co-founded in 2013 by a group of people from the world of business, finance,
                            and civil society. The organization as a not-for-profit registered charity, the founders
                            ensured that JUST Capital would be exclusively geared towards achieving its mission. JUST Capital
                            ranking annually all the companies in the US in their annual report.
                            <br>
                            This ranking was then used by our group as a factor for the <i>Social Good</i> score of each company.
                            Details about the calculation of this score are given bellow in the <i>The Ethics of Investing</i>
                            part.
                        </p>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>