<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include introduction.html %}
    {% include dataset.html %}
    {% include data_story.html %}
    {% include research.html %}
    {% include conclusions.html %}
    {% include about.html %}
    {% include team.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include research_layout.html %}
    {% include js.html %}
    {% include analytics.html %}

    </body>
</html>